
body {
  background-color: $black;
  color: $white;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  background-position: center;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: 'Marcellus', serif;
}

.h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-family: 'Marcellus', serif;
}

.h2, h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}


a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
