$earth: rgb(211, 168, 129);
$black: #1C1D20;
$white: #FFF;
$red: #FF1100;

$button-bg : $earth;
$radius: 10em;


$bg-disponible: $white;
$text-disponible: $black;

$bg-reservado: $earth;
$text-reservado: $white;

$bg-vendido: $red;
$text-vendido: $white;