@import 'variables';
@import 'reset';
@import 'base';
@import 'button';
@import 'menu';


html,
body {
  min-height: 100%;

  display: flex;
  flex-flow: column;
}

.w-100 {
  width: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

section {
  padding: 3rem 0 4rem 0;
  width: 100%;
}

footer {
  padding-bottom: 2rem;
  text-align: center;
}





#multimedia {
  background-color: $black;
  color: $white;
}



@import 'header';
@import 'caracteristicas';
@import 'detalles';
@import 'masterplan';
@import 'multimedia';
@import 'comollegar';
@import 'cotizar';
@import 'footer';

@import 'panorama';
@import 'hotspot';