@import 'variables';
@import 'reset';
@import 'base';


html,
body {
  min-height: 100%;
}

.w-100 {
  width: 100%;
}

.container {
  width: 80%;
  margin-left: 10%;
}

section {
  padding: 3rem 0 4rem 0;
  width: 100%;
}

footer {
  padding-bottom: 2rem;
  text-align: center;
}


.btn {
  border-radius: 10em;
  text-align: center;
  font-weight: 600;
  padding: 16px 28px;
}

.btn-earth {
  @extend .btn;
  background-color: $earth;
  color: $white;
}

.btn-earth-outline {
  @extend .btn;
  background-color: $earth;
  color: $white;
  border: 2px solid $earth;
}

.btn-black-outline {
  @extend .btn;
  background-color: transparent;
  color: $black;
  border: 2px solid $black;
}

#detalles {

  img {
    width: 100%;
  }


  &>.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .detalle {
    display: flex;
    flex-flow: row;

  }
}


#caracteristicas {

  background-color: $earth;
  text-align: center;

  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  a {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9)
  }
}

#multimedia {
  background-color: $black;
  color: $white;
}

#comollegar {
  background-color: $black;
  color: $white;
}

@import 'header';

@import 'panorama';